div {
  height: 300px;
  width: 300px;
  border: 2px solid black;
  animation-name: change;
  animation-duration: 7s;
}

@keyframes change {
  from {
    background-color: red;
  }
  to {
    background-color: blue;
  }
}
